* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-elements);
  font-family: system-ui, sans-serif;
  transition: background 0.3s, color 0.3s;
}

h2{
  color: var(--primary-color);
}

.primary-button {
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color box-shadow  0.7s;
  box-shadow: none;
  font-size: 20px;
}

.primary-button:active {
  background-color: var(--primary-color-shadow);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(176, 176, 176, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(176, 176, 176, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(176, 176, 176, 0.2);
  }

  .nuxt-tooltip {
  position: absolute;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;

  opacity: 0;
  transform: scale(0.95) translateY(4px);
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.nuxt-tooltip--visible {
  opacity: 1;
  transform: scale(1) translateY(0);
}
